<h1><%= @patient.name%>, <%= @patient.age %></h1>
<ul>
<% @patient.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime %></li>
    <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
<% end %>
</ul>